.centered             { text-align: center !important; }
.left                 { text-align: left !important; }
.right                { text-align: right !important; }
.relative             { position: relative; }
.absolute             { position: absolute; }
.fixed                { position: fixed; }
.clickable            { cursor: pointer; }
.default              { cursor: default; }
.left-padding         { padding-left: 5px; }
.left-indent          { margin-left: 5px; }
.indented             { margin-left: 1.5em; }
.block                { display: block; }
.flex                 { display: flex; }
.box                  { box-sizing: border-box; }
.buoyant              { float: left; }
.buoyant-right        { float: right; }
.overflow-auto        { overflow: auto; }
.overflow-visible     { overflow: visible; }
.overflow-hidden      { overflow: hidden; }
.white__bg            { background: #fff; }
.black__bg            { background: #000; }
.delete               { transition: linear color 0.2s; }
.delete:hover         { color: red; opacity: 0.5; }
.thin                 { font-weight: 300; }
.bold                 { font-weight: 700; }
.spaced               { line-height: 1.75em; }
.spaced-letter        { letter-spacing: 1px; }
.white                { color: #fff; }
.black                { color: #000; }
.light                { color: #c6c6c6; }
.dark                 { color: #333; }
.gray                 { color: gray; }
.red                  { color: #ef6758; }
.orange               { color: orange; }
.blue                 { color: blue; }
.green                { color: green; }
.teal                 { color: teal; }
.underlined           { text-decoration: underline; }
.ellipsis             { text-overflow: ellipsis; }
.bordered             { border-bottom: 1px solid #eee; }
.bordered-light       { border-bottom: 1px solid #eee; }
.transition-linear    { transition: linear all 0.2s; }
.transition-ease      { transition: ease all 0.2s; }
.align-self           { align-self: center; }
.justify-self         { justify-self: center; }
.quarter-width        { width: 25%; }
.half-width           { width: 50%; }
.triple-width         { width: 75%; }
.fullscreen-height    { height: 100vh; }
.zero-auto            { margin: 0 auto; }
.big-font             { font-size: 2em; }
.huge-font            { font-size: 3em; }
.holly-fuck-font      { font-size: 4em; }
.outline-none:focus   { outline: none }


/* MARGINS */

.margin-micro         { margin-top: 5px; }
.margin-mini          { margin-top: 10px; }
.margin-small         { margin-top: 15px; }
.margin1              { margin-top: 25px; }
.margin2              { margin-top: 50px; }
.margin3              { margin-top: 75px; }
.margin4              { margin-top: 100px; }
.margin5              { margin-top: 125px; }
.margin6              { margin-top: 150px; }
.margin7              { margin-top: 175px; }
.margin8              { margin-top: 200px; }

.b-margin-micro       { margin-bottom: 5px; }
.b-margin-mini        { margin-bottom: 10px; }
.b-margin-small       { margin-bottom: 15px; }
.b-margin1            { margin-bottom: 25px; }
.b-margin2            { margin-bottom: 50px; }
.b-margin3            { margin-bottom: 75px; }
.b-margin4            { margin-bottom: 100px; }
.b-margin5            { margin-bottom: 125px; }
.b-margin6            { margin-bottom: 150px; }
.b-margin7            { margin-bottom: 175px; }
.b-margin8            { margin-bottom: 200px; }

.r-margin-micro       { margin-right: 5px; }
.r-margin-mini        { margin-right: 10px; }
.r-margin-small       { margin-right: 15px; }
.r-margin1            { margin-right: 25px; }
.r-margin2            { margin-right: 50px; }
.r-margin3            { margin-right: 75px; }
.r-margin4            { margin-right: 100px; }
.r-margin5            { margin-right: 125px; }
.r-margin6            { margin-right: 150px; }
.r-margin7            { margin-right: 175px; }
.r-margin8            { margin-right: 200px; }

/* PADDINGS */

.padding1             { padding: 25px; }